h2,
h3 {
  text-align: center;
  margin: auto;
  margin-top: 1em;
}

mat-list {
  width: 90%;
  margin: auto;
}

p {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  margin: auto;
}

.mat-row:hover {
  background-color: #EEE;
}
