<div *ngIf="loading" class="container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="container" style="margin-top: 2%;">

    <h2> First Innings </h2>

    <h3> Batting: {{info.basic.bat_first}} </h3>

    <table mat-table [dataSource]="first.batting" style="width: 40%">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.batter}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.fours}} </td>
        </ng-container>

        <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.sixes}} </td>
        </ng-container>

        <ng-container matColumnDef="balls_faced">
            <th mat-header-cell *matHeaderCellDef> Balls faced </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBat;"></tr>

    </table>

    <h3> Bowling: {{info.basic.bowl_first}} </h3>

    <table mat-table [dataSource]="first.bowling" style="width: 40%">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.bowler}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls_bowled}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBowl;"></tr>

    </table>

    <mat-list style="width: 40%">
        <mat-list-item> Total: {{first.extras.total}}/{{first.extras.wickets}}, Extras: {{first.extras.extras}}
        </mat-list-item>
    </mat-list>

    <h2> Second Innings </h2>

    <h3> Batting: {{info.basic.bowl_first}} </h3>

    <table mat-table [dataSource]="second.batting" style="width: 40%">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.batter}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.fours}} </td>
        </ng-container>

        <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.sixes}} </td>
        </ng-container>

        <ng-container matColumnDef="balls_faced">
            <th mat-header-cell *matHeaderCellDef> Balls faced </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBat;"></tr>

    </table>

    <h3> Bowling: {{info.basic.bat_first}} </h3>

    <table mat-table [dataSource]="second.bowling" style="width: 40%">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.bowler}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls_bowled}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBowl;"></tr>

    </table>

    <mat-list style="width: 40%">
        <mat-list-item> Total: {{second.extras.total}}/{{second.extras.wickets}}, Extras: {{second.extras.extras}}
        </mat-list-item>
    </mat-list>

    <mat-divider style="border-top-width: 10px;"></mat-divider>

    <h2> Match Information </h2>

    <mat-list style="width: 80%">
        <mat-list-item> Match: {{info.basic.team1_name}} vs {{info.basic.team2_name}}, {{info.basic.season_year}} </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item> Toss: {{info.basic.toss_winner_name}} won the toss and chose to {{info.basic.toss_name}} </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item> Venue: {{info.basic.venue_name}} </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>Umpires: &nbsp;
            <p>
                <span *ngFor="let u of info.umpires; let index = index">
                    {{u.umpire_name}}{{index == info.umpires.length-1 ? ' ' : ', '}}
                </span>
            </p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item> Playing XI of {{info.basic.team1_name}}: &nbsp;
            <p>
                <span
                    *ngFor="let p of info.players1; let index = index"> {{p.player_name}}{{index == info.players1.length-1 ? ' ' : ', '}}
                </span>
            </p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>Playing XI of {{info.basic.team2_name}}: &nbsp;
            <p>
                <span
                    *ngFor="let p of info.players2; let index = index"> {{p.player_name}}{{index == info.players2.length-1 ? ' ' : ', '}}
                </span>
            </p>
        </mat-list-item>
    </mat-list>

    <mat-divider style="border-top-width: 10px;"></mat-divider>

    <h2> Score Comparison </h2>

    <div class="container">
        <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            style="width: 80%">
        </canvas>
    </div>

    <mat-divider style="border-top-width: 10px;"></mat-divider>

    <h2> Summary: Match ID: {{info.basic.match_id}}, IPL {{info.basic.season_year}} </h2>

    <h3>
        <b> {{info.basic.winner_name}} </b> won by <b> {{info.basic.win_margin}} </b> {{info.basic.win_type}}
    </h3>

    <h2> Team 1: {{info.basic.team1_name}} </h2>

    <h3> Top Batsmen </h3>

    <table mat-table [dataSource]="first.top3_bat" style="width: 40%">

        <ng-container matColumnDef="batsman">
            <th class="coll" mat-header-cell *matHeaderCellDef> Batsman </th>
            <td class="coll" mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.player_name}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bat;"></tr>

    </table>

    <h3> Top Bowlers </h3>

    <table mat-table [dataSource]="first.top3_bowl" style="width: 40%">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.player_name}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs given </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bowl;"></tr>

    </table>

    <h2> Team 2: {{info.basic.team2_name}} </h2>

    <h3> Top Batsmen </h3>

    <table mat-table [dataSource]="second.top3_bat" style="width: 40%">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.player_name}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bat;"></tr>

    </table>

    <h3> Top Bowlers </h3>

    <table mat-table [dataSource]="second.top3_bowl" style="width: 40%">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell">
                <a routerLink="/players/{{element.player_id}}"> {{element.player_name}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs given </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bowl;"></tr>

    </table>

    <mat-divider style="border-top-width: 10px;"></mat-divider>

    <h2> Runs Breakup </h2>

    <h3> First Innings </h3>
    <div class="container">
        <canvas baseChart
            [data]="pieChartData1"
            [type]="pieChartType"
            [options]="pieChartOptions"
            style="width: 40%">
        </canvas>
    </div>

    <h3> Second Innings </h3>
    <div class="container">
        <canvas baseChart
            [data]="pieChartData2"
            [type]="pieChartType"
            [options]="pieChartOptions"
            style="width: 40%">
        </canvas>
    </div>

</div>
