<div class = "">

    <h2>First Innings</h2>

    <table mat-table [dataSource]="first.batting">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.batter}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.fours}} </td>
        </ng-container>

        <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.sixes}} </td>
        </ng-container>

        <ng-container matColumnDef="balls_faced">
            <th mat-header-cell *matHeaderCellDef> Balls faced </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBat;"></tr>

    </table>

    <table mat-table [dataSource]="first.bowling">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.bowler}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls_bowled}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBowl;"></tr>

    </table>

    <mat-list>
        <mat-list-item> Total: {{first.extras.total}}/{{first.extras.wickets}}, Extras: {{first.extras.extras}} </mat-list-item>
    </mat-list>

    <h2>Second Innings</h2>

    <table mat-table [dataSource]="second.batting">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.batter}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.fours}} </td>
        </ng-container>

        <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.sixes}} </td>
        </ng-container>

        <ng-container matColumnDef="balls_faced">
            <th mat-header-cell *matHeaderCellDef> Balls faced </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBat;"></tr>

    </table>

    <table mat-table [dataSource]="second.bowling">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.bowler}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls_bowled}} </td>
        </ng-container>

        <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBowl;"></tr>

    </table>

    <mat-list>
        <mat-list-item>Total: {{second.extras.total}}/{{second.extras.wickets}}, Extras: {{second.extras.extras}} </mat-list-item>
    </mat-list>

    <h2>Match Information</h2>

    <mat-list>
        <mat-list-item> Match: {{match_info.basic.team1_name}} vs {{match_info.basic.team2_name}}, {{match_info.basic.season_year}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Toss: {{match_info.basic.toss_winner_name}} won the toss and chose to {{match_info.basic.toss_name}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Venue: {{match_info.basic.venue_name}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Umpires: &nbsp;
            <p>
            <span *ngFor="let u of match_info.umpires; let index = index"> {{u.umpire_name}}{{index == match_info.umpires.length-1 ? ' ' : ', '}} </span>
            </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Playing XI of {{match_info.basic.team1_name}}: &nbsp;
            <p>
            <span *ngFor="let p of match_info.players1; let index = index">{{p.player_name}}{{index == match_info.players1.length-1 ? ' ' : ', '}} 
            </span>
            </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Playing XI of {{match_info.basic.team2_name}}: &nbsp;
            <p>
                <span *ngFor="let p of match_info.players2; let index = index">{{p.player_name}}{{index == match_info.players2.length-1 ? ' ' : ', '}} 
                </span>
            </p>
        </mat-list-item>
    </mat-list>

</div>

<div>
    <button mat-flat-button color="primary" (click)="showSC()">Score Comparison</button>
</div>
<div *ngIf="show_sc">
    <div>
        <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType">
        </canvas>
    </div>
</div>

<div>
    <button mat-flat-button color="primary" (click)="showSummary()">Match Summary</button>
</div>
<div *ngIf="show_summary"> 

    <h2>Summary: Match ID: {{match_info.basic.match_id}}, IPL {{match_info.basic.season_year}}</h2>

    <h2>Team 1</h2>
    
    <h3>Top Batsmen</h3>

    <table mat-table [dataSource]="first.top3_bat">

        <ng-container matColumnDef="batsman">
            <th class="coll" mat-header-cell *matHeaderCellDef> Batsman </th>
            <td class="coll" mat-cell *matCellDef="let element" class="tcell"> {{element.player_name}} </td>
        </ng-container>

         <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bat;"></tr>

    </table>

    <h3>Top Bowlers</h3>

    <table mat-table [dataSource]="first.top3_bowl">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.player_name}} </td>
        </ng-container>

         <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs given </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bowl;"></tr>

    </table>

    <h2>Team 2</h2>
    
    <h3>Top Batsmen</h3>

    <table mat-table [dataSource]="second.top3_bat">

        <ng-container matColumnDef="batsman">
            <th mat-header-cell *matHeaderCellDef> Batsman </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.player_name}} </td>
        </ng-container>

         <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs}} </td>
        </ng-container>

        <ng-container matColumnDef="balls">
            <th mat-header-cell *matHeaderCellDef> Balls </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.balls}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bat;"></tr>

    </table>

    <h3>Top Bowlers</h3>

    <table mat-table [dataSource]="second.top3_bowl">

        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.player_name}} </td>
        </ng-container>

         <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.wickets}} </td>
        </ng-container>

        <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs given </th>
            <td mat-cell *matCellDef="let element" class="tcell"> {{element.runs_given}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTop3Bowl"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTop3Bowl;"></tr>

    </table>

    <h3>
        <b>{{match_info.basic.winner_name}}</b> won by <b>{{match_info.basic.win_margin}}</b> {{match_info.basic.win_type}}
    </h3>

    <h2>Runs Breakup</h2>

    <h3>First Innings</h3>
    <div>
        <canvas baseChart
            [data]="pieChartData1"
            [type]="pieChartType"
            [options]="pieChartOptions">
        </canvas>
    </div>

    <h3>Second Innings</h3>
    <div>
        <canvas baseChart
            [data]="pieChartData2"
            [type]="pieChartType"
            [options]="pieChartOptions">
        </canvas>
    </div>

</div>
