<mat-toolbar color="primary">
  <a routerLink="/" class="title">{{title}}</a>
  <span class="spacing"></span>
  <a routerLink="/matches" class="subtitle">Matches</a>
  <span class="spacing"></span>
  <a routerLink="/pointstable/2011" class="subtitle">Points Table 2011</a>
  <span class="spacing"></span>
  <a routerLink="/pointstable/2013" class="subtitle">Points Table 2013</a>
  <span class="spacing"></span>
  <a routerLink="/pointstable/2015" class="subtitle">Points Table 2015</a>
  <span class="spacing"></span>
  <a routerLink="/pointstable/2017" class="subtitle">Points Table 2017</a>
</mat-toolbar>

<router-outlet></router-outlet>
