<mat-toolbar color="primary">

  <button mat-button routerLink="/" class="title"><mat-icon style="transform: scale(1.5); margin-right: 0.1em;">poll</mat-icon> {{title}}</button>
  <span class="spacing"></span>

  <button mat-button routerLink="/matches" class="subtitle">Matches<mat-icon>table_chart</mat-icon></button>
  <span class="spacing"></span>

  <button mat-button routerLink="/venues" class="subtitle">Venues<mat-icon>place</mat-icon></button>
  <span class="spacing"></span>

  <button mat-button [matMenuTriggerFor]="menu" class="subtitle">Points Table<mat-icon>show_chart</mat-icon></button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/pointstable/2011">2011</a>
    <a mat-menu-item routerLink="/pointstable/2013">2013</a>
    <a mat-menu-item routerLink="/pointstable/2015">2015</a>
    <a mat-menu-item routerLink="/pointstable/2017">2017</a>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
