/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$colors : #e4d8f0 1/20*100%, #cfc3e4 2/20*100%;

body {
  background:
    repeating-radial-gradient(circle at bottom left, $colors),
    repeating-radial-gradient(circle at bottom right, $colors);
  background-blend-mode: overlay;
}

table {
  width: 90%;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tcell {
  white-space: initial;
  // text-align: center!important;
}

mat-paginator {
  margin: auto;
  width: 90%;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

mat-list {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

mat-list-item {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  height: auto !important;
  background-color: #fff;
}

mat-spinner {
  margin: auto;
  margin-top: 20%;
}

.mat-menu-item{
  text-align: center !important;
}

th{
  font-size: 1em !important;
}